*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main_body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email_form {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: #F3F3F3;
}